<div id="app">
    <h1>市場氣象台</h1>
    <div class="filter" id="filter">
        <div>
            <h3>選擇市場</h3>
            <ul>
                <li v-for  ="(item, index) in filter_market" 
                    :class ="{'now': item.isNow}"
                    :data-index ="index"
                    :data-market ="item.market"
                    @click ="market_switchClass(index)"
                >{{item.text}}</li>
            </ul>
        </div>
        <div>
            <h3>選擇天氣</h3>
            <ul>
                <li v-for  ="(item, index) in filter_weather" 
                    :class ="{'now': item.isNow}"
                    :data-index ="index"
                    :data-weather ="item.weather"
                    @click ="weather_switchClass(index)"
                >{{item.text}}</li>
            </ul>
        </div>
    </div>
    <div class="fund">
        <div class="titleBar">
            <h2>基金市場</h2>
            <div class="sort" @mouseleave="close_sortMenu" :class="{'open': sort.menuIsOpen}">
                <div    class ="nowSort" 
                        v-for ="item in sort.list" 
                        v-if ="item.isNow == true"
                        @click ="switch_sortMenu"
                >{{item.text}}</div>
                <ul>
                    <li v-for ="(item, index) in sort.list" 
                        :class ="{'hover': item.isHover}"
                        @mouseover ="li_isHover(index)"
                        @mouseleave ="li_isNotHover(index)"
                        @click ="li_select(index)"
                    >{{item.text}}</li>
                </ul>
            </div>
        </div>
        <div class="slideshow">
            <div class="nullMessage">
                <img src="img/owl.svg">
                <h3>很抱歉，目前沒有符合條件的基金</h3>
                <div>您可重新勾選篩選條件！</div>
            </div>
            <div class="subject" 
                    v-bind:style="{
                        width: slideshow.width + 'px',
                        left: slideshow.left + 'px'
                    }">
                <!-- <div style="opacity: 1;" -->
                <div v-for= "(item, index) in slideshow.showTargets"
                     :class= "{'now': item.isSelect, 'reload': slideshow.targetShow}"
                     @click= "selectTarget(index)"
                     ref="targetCard"
                >
                    <h3>{{item.title}}</h3>
                    <img class="weather" :src="'/img/'+ item.weather +'.svg'">
                    <img class="line_graph" :src="/img/+ item.line_graph">
                    <div :class="{
                        'higher': item.performance >= 0, 
                        'lower': item.performance < 0
                    }">{{item.performance}}%</div>
                </div>
            </div>
            <div class="operating">
                <div class="moving_btn">
                    <div :class="{'show': slideshow.leftButton}">
                        <button @click="moveSlideshow(-1)"></button>
                    </div>
                    <div :class="{'show': slideshow.rightButton}">
                        <button @click="moveSlideshow(1)"></button>
                    </div>
                </div>
                <ul>
                    <li v-for="(item, index) in slideshow.page_length" 
                        :class="{'now': index == slideshow.nowPage}"
                        @click="moveSlideshow(0, index)"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="total" id="total">
        <div class="title">
            <span id="object_title">{{selectResult.name}}</span>目前共<span>{{selectResult.length}}</span>檔基金
        </div>
        <div class="comments">資料來源：XXX, 截至： 2020/01/29</div>
    </div>
    <a href="" class="report" id="report">查看市場報告</a>
    <img src="img/move_down.svg" class="move_down" id="move_down">
</div>